body{
    background: url(img/PHOTO1-min.jpg) fixed center;
    background-repeat: no-repeat;
	-webkit-background-size: cover;  
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
    background-position: 50%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


*{
scroll-behavior: smooth;
}

.barre {
    position: fixed;
    margin-top: 15px;
    width: 88%;
    margin-left: 5%;
    height: 50px;
    background: #2F2F2F;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, .1 );
    z-index: 6;

}



.imgbarre {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
}
.barre .titlebarre {
    font-size: 15px;
    text-transform: uppercase;
    color: wheat;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    font-family: Lato;
}

.barre .animation {
    position:absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: wheat;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.titlebarre:hover {
    color: black;
    font-size: 15px;
    line-height: 50px;
    font-family: Lato;
}

.titlebarre:nth-child(1) {
    width: 25%;
}

.barre .start-accueil, .titlebarre:nth-child(1):hover ~.animation {
    width: 25%;
    left: 0;
}

.titlebarre:nth-child(2) {
    width: 25%;
}

.barre .start-prestation, .titlebarre:nth-child(2):hover ~.animation {
    width: 25%;
    left: 25%;
}
.titlebarre:nth-child(3) {
    width:25%;
}

.barre .start-rdv, .titlebarre:nth-child(3):hover ~.animation {
    width: 25%;
    left: 50%;
}
.titlebarre:nth-child(4) {
    width: 25%;
}

.barre .start-contact, .titlebarre:nth-child(4):hover ~.animation {
    width: 25%;
    left: 75%;
}


.bloctitre {
    margin-top: 20%; 
    margin-bottom: 12%;
    margin-right: 6%;
    float: right;
    align-items: center;
    justify-content: center;
}

.titreprinc {
    color: wheat;
    font-size: 50px;
    font-family: Lato;
    letter-spacing: 2.5px;
    font-weight: 300;
    font-style: normal;
}


.input {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    text-decoration: none;
    padding: 3%;
    width: 70%;
    transition: 0.7s;
    color: wheat;
    background: black;
    border-color: wheat;
    border: solid;
    border-width: 1px;
    font-family: Lato;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.input span {
    position: relative;
    z-index: 1;
}

.input:hover {
    color: black;
}

.input::before {
    content:'';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: wheat;
    transition: width 0.8s, height 0.8s;

}

.input:hover::before {
    width: 600px;
    height: 600px;
}

.titre1 { /*Ce qui differe du titre est le padding top*/
    text-align: center; 
    color: wheat; 
    font-family: Lato;
    padding-top: 130px;
    padding-bottom: 30px;
    font-family: Lato;
    letter-spacing: 2px;
    line-height: 1.4em;
    font-weight: 300;
}

.titre { /*Ce qui differe du titre1 est le padding top*/
    text-align: center; 
    color: wheat; 
    font-family: Lato;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Lato;
    letter-spacing: 2px;
    line-height: 1.4em;
    font-weight: 300;
 }

 .boxheader, .boxheader2{
    transition: 0.7s;
    display: inline-block;
    font-family: Lato;
    letter-spacing: 1px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2F2F2F;
    border: solid;  
    border-radius: 20px;
    font-family: Lato;
    text-decoration: none;
    color: wheat;
    margin-top: 10px;
}
.boxheader_txt {
    position: relative; 
    bottom: 10px;
    margin-left: 7px;

}
.boxheader2 {
    margin-right: 5%;
    margin-left: 5%;
}

.boxheader:hover, .boxheader2:hover{
    transform:scale(1.05) ;
    z-index: 2;
    color: black;
    background-color: wheat;
}


.sous2_box1, .box2, .box3, .box4, .box5 {
    background: #808080d1;
    margin-bottom: 20%;
    position: relative;
    padding-bottom: 5%;
    padding-top: 2%;
}

.box1 {
    position: relative; 
    clear: both;
}

.sous1_box1 {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.sous2_box1 { 
    text-align: center;
    position: relative;
    top: 45px;
}



.img_sous2_box1, .img_box3, .img_box4 {
    transition: 0.7s;
    width: 350px;
}

.img_sous2_box1:hover, 
.img_box3:hover, 
.img_box4:hover {
    transform:scale(1.05) ;
    z-index: 2;
}


.content_box3, .content_box4, .content_sous2_box1 {
    display: flex;
    height: 350px;
    margin: 3% 15%;
  
  }
.txt_box3, .txt_box4, .txt_sous2_box1 {
    display: flex;
    align-items: center;
 }


.txt_box3, .txt_sous2_box1  {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.txt_box4 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

.txt_sous2_box1, .txt_box3, .txt_box4  {
    font-family: Lato;
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 1.2em;
}

.imgtxt_box2 {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}
 .img_box5 {
    margin: 0 4%;
 }

.text_sousimg {
    width: 300px;
    font-family: Lato;
    line-height: 1.5em;
    font-size: 1.2em;
}

.img {
    width: 300px;
    transition: 0.7s;
    margin-bottom: 3%;
    border-radius: 200px;
}
.img:hover {
    transform:scale(1.1) ;
    z-index: 2;
}

/* FOOTER */
.footer {
    background: #2F2F2F;
}

.footer_copyright, .footer_contact {
    display: inline-block;
    padding: 20px 30px;
}


.hr {
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-color: wheat;
}

.footer_copyright_content,
.footer_contact_adresse {
    color: wheat;
    text-decoration: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
}
 .footer_copyright_content_href, .footer_contact_tel, .footer_contact_adresse{
    color: wheat;
    text-decoration: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    transition: 0.7s; 
 }
 .footer_copyright_content_href:hover, .footer_contact_tel:hover, .footer_contact_adresse:hover{
    color: grey;
 }

